header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
.caixa h1{
    width: 50px;
}

nav {
    position: absolute;
    top: 90px;
    right: 0;
}

nav li {
    display: inline;    /*colocar alinhado*/
    margin: 0 0 0 15px;   /* colocar espaco*/
}

nav a  {
    text-transform: uppercase;  /*colocar em majiscule*/
    color:#000000;
    font-weight: bold; /*colocar em negrito*/
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{ /* dar color quando passa o maouse acima*/
    color:#C78C19;
    text-decoration: underline;
}

.produto {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;

}

.produto li {
    display: inline-block;
    margin: 0 0 0 30px;   /* colocar espaco no canto*/
    text-align: center;
    width: 25%; /*espaco entre si*/
    vertical-align: top;
    margin: 0 2%; 
    padding: 30px 20px;
    box-sizing: border-box;
    border:2px solid pink ;
    border-top-width: 10px;
    border-radius: 15px;


}
.produto li:hover{
    color:#C78C19;
  
}
/*.produto li:active{
    color: pink;
}*/

#banner1 {
    width: 200px;
}
#banner2 {
    width: 200px;
}
#banner3 {
    width: 200px;
}

.produto h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-desc {
    font-size: 18px ;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
}


main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label,form p {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 10px;
    padding: 10px 25px;
    width: 40%;
}
.checkbox {
    margin: 20px 0;
}
