header {
    background: #BBBBBB;
}

nav li {
    display: inline;    /*colocar alinhado*/
    margin: 0 0 0 15px;   /* colocar espaco*/
}

nav a  {
    text-transform: uppercase;  /*colocar em majiscule*/
    color:#000000;
    font-weight: bold; /*colocar em negrito*/
    font-size: 22px;
    text-decoration: none;
}