body {
    


}

#banner {
    width: 100%;
    height: 210px;

}

.principal {
    background: #CCCCCC; /* aqui é para botar color no fundo tudo*/
    padding: 30px;

}

.tituloprincipal {
    padding-left: 20px;
}

.titulocentralizado {
    text-align: center;
}

h1 {

    /*border: 10px solid blueviolet; gerar a borda*/
    padding: 20px; /* gerar a altura*/

}



p {
    text-align: center; /* aqui é só botar color no fundo dos textos*/
    background: #CCCCCC; /* aqui para bota color no background*/
}

#missao {
    font-size: 20px";
}

em strong {
    color: red;
}

.itens {
    font-style: italic ;
}

.beneficios {
    background: white;
    padding: 20px;
}

h2 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%; /* para gera avançar*/
}

.imagebeneficios{
    width: 50%;
}
